.container {
    padding-top: 10%;
    height: auto;
    width: 100%;
    margin: 0;
    position: relative;
    display: flex;
    overflow-x: hidden;
  }
  .boxes {
    min-height: 200px;
    width: 100%;
    margin: 0.24rem;
    position: relative;
    display: block;
    background-color: #3A3838;;
    box-shadow: #3A3838 0px 4px 8px -2px;
  }
  .left,
  .right {
    flex: 50%;
    display: flex;
    flex-direction: row;
  }
/*Media Queries*/
  /*these @media queries allow the page and its elements to become responsive. Meaning, the elements will adjust according to the window size.*/
  @media (max-width: 800px) {
    .container {
      flex-direction: column;
    }
  }
  @media (max-width: 500px) {
    .left,
    .right {
      flex-direction: column;
    }
  }