.sqrBtn a{-webkit-font-smoothing: antialiased;
    background-color: #A49370;
    border: none;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 100;
    text-decoration: none;
    user-select: none;
    letter-spacing: 1px;
    padding: 20px 40px;
    text-transform: uppercase;
    transition: all 0.1s ease-out;
}
